@font-face {
    font-family: firagoS;
    src: url(../fonts/FiraGO-SemiBold.otf);
}
@font-face {
    font-family: firagoR;
    src: url(../fonts/FiraGO-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: firagoS;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-image: url(../images/oldpaperbacground\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 25px 106px 25px 100px;
    background-image: url(../images/headerBGP.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    width: 150px;
    height: 150px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -9999999px;
}
h1 a{
    display: block;
    width: 100%;
    height: 100%;
}
header ul.flex{
    gap: 50px;
}
header ul a{
    font-size: 24px;
    color: rgba(61, 54, 49, 1);
    padding: 3px 0;
}
header ul a.active{
    border-bottom: 2px solid rgba(61, 54, 49, 1);
}
 .navigation.flex{
    gap: 47px;
}
button{
    padding: 10px 20px;
    font-size: 24px;
    background-color: rgba(60, 66, 29, 1);
    border-radius: 10px;
    color: rgba(252, 253, 249, 1);
}
main{
    padding: 92px 100px 110px 100px;
}
.bed{
    margin-bottom: 110px;
}
.bed section{
    width: 625px;
}
.bed h2{
    font-size: 32px;
}
.bed p{
    font-family: firagoR;
    font-size: 20px;
    margin-top: 34px;
    margin-bottom: 56px;
}
.bed iframe{
    width: 500px;
    height: 270px;
}
.bed button{
    padding: 10px 46px;
    justify-self: center;
}
.furniture{
    
}