@font-face {
    font-family: firagoS;
    src: url(../fonts/FiraGO-SemiBold.otf);
}
@font-face {
    font-family: firagoR;
    src: url(../fonts/FiraGO-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: firagoS;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-image: url(../images/oldpaperbacground\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 25px 106px 25px 100px;
    background-image: url(../images/headerBGP.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    width: 150px;
    height: 150px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -9999999px;
}
h1 a{
    display: block;
    width: 100%;
    height: 100%;
}
header ul.flex{
    gap: 50px;
}
header ul a{
    font-size: 24px;
    color: rgba(61, 54, 49, 1);
    padding: 3px 0;
}
header ul a.active{
    border-bottom: 2px solid rgba(61, 54, 49, 1);
}
 .navigation.flex{
    gap: 47px;
}
button{
    padding: 10px 20px;
    font-size: 24px;
    background-color: rgba(60, 66, 29, 1);
    border-radius: 10px;
    color: rgba(252, 253, 249, 1);
}
main{
    padding: 92px 0 110px;
}
.bed{
    margin: 0 100px 110px;
}
.bed section{
    width: 625px;
}
.bed h2{
    font-size: 32px;
}
.bed p{
    font-family: firagoR;
    font-size: 20px;
    margin-top: 34px;
    margin-bottom: 56px;
}
.bed iframe{
    width: 500px;
    height: 270px;
}
.bed button{
    padding: 10px 46px;
    justify-self: center;
}
.line{
    width: 400px;
    height: 1px;
    background-color: #3D3631;
}
.product{
    margin: 0 100px;
}
.product h2{
    font-size: 32px;
}
.item{
    text-align: center;
    box-shadow: 0 5px 8px #3D3631;
    padding-bottom: 22px;
    border-radius: 20px;
    overflow: hidden;
}
.item:hover{
    box-shadow: 0 1px 8px #3d36317a;
}
.item h3{
    margin-top: 21px;
    margin-bottom: 33px;
    font-size: 20px;
}
.item button{
    font-size: 16px;
}
.items{
    margin-top: 40px;
}
.priceList{
    padding: 50px 100px 54px 100px;
    margin: 110px 0;
    background-image: url(../images/tableBGP.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}
.priceList h2{
    margin-bottom: 28px;
    font-size: 16px;
    font-family: FiragoR;
}
table, th, td, tr{
    border: 1px solid #fff;
    border-collapse: collapse;
}
table{
    width: 100%;
}
table th, table td{
    width: 50%;
    padding: 18px 26px;
}
.choice{
    padding: 0 100px;
    margin: 100px 0 110px;
}
.videoAudio video{
    width: 469px;
    display: block;
    margin-top: 20px;
}
.choice section h3{
    font-size: 32px;
    margin-bottom: 19px;
}
.choice section li{
    font-size: 20px;
    list-style-type: disc;
    font-family: FiragoR;
}
.choice section ul{
    margin-left: 30px;
}
footer{
    background-image: url(../images/footerBGP.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    color: #fff;
    padding: 0 100px;
    font-family: FiragoR;
}
footer div:first-child{
    gap: 20px;
}
footer div:last-child p:first-child{
    padding-right: 38px;
}
footer div:last-child p:last-child{
    border-left: 1px solid #fff;
    padding-left: 38px;
}